body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;

}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  margin-top: 5vh;
}


.list {
  width: 35%;
  margin : 0 6vw;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  margin: 1vh
}

h3 {
  font-size: 2rem;
  font-style: italic;
  margin: 1vh
  
}

ol {
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  background-color: #8080806e;
  border: 1px black solid;
  box-shadow: 1;
  margin: 1.5vh;
  font-size: 2rem;
  box-shadow: 10px 10px rgb(42, 55, 59);
  padding: 1vw;
}


.phoneDetails {
  width: 100%;
  margin: 5vh 5vw 0 5vw;
}

.cta {
    margin-top: 35vh;
    width: 100%;
}

.imgContainer {
  width: 10vw;
  height: 7vh;
}

img {
  width: 100%;
}

.link {
  text-decoration: none;
  color : whitesmoke;
  font-weight: 600;
}


.link:hover{
  text-decoration: none;
  color : rgb(66, 114, 128);
  }

.link:active{
    text-decoration: none;
    font-weight: bolder;
    color : rgb(66, 114, 128);
 }

 .flexInfo{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: flex-end;
 }

 .keyInfo {
  background-color:rgb(42, 55, 59) ;
  padding: 1vw;
  border-radius: 5px;
  color: whitesmoke;
 }

 .flexTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 }